<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Dashboard</title>
    </head>
    <body style="background-color:white; padding:10px 15px 10px 15px">
        <div class="container-fluid">
            <hr>
			<div class="dropdown pull-right" style="transform: translate(0%,-20%);">
				<button class="btn dropdown-toggle pull-right" type="button" data-toggle="dropdown"><span style="padding-right:5px" class="glyphicon glyphicon-cog"></span>Options
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
				  <li><a href="{% url 'core_app:user_profile' %}"><span class="glyphicon glyphicon-user"></span>     Profile</a></li>
				  <li><a>feature1</a></li>
				  <li><a>feature2</a></li>
				  <li class="divider"></li>
				  <li><a href="{% url 'login_module:logout' %}"><span class="glyphicon glyphicon-off"></span>    Log Out </a></li>
				</ul>
			</div>
			<h4>Welcome, {{my_user.first_name}}</h4>
            <hr>
        <p></p>
            <div class="col-md-4">
                <div class="row" style="margin-bottom:25px; border-radius:3px; border-color:red">
                <h4 style="margin-bottom:30px">Add Songs</h4>
                  <form enctype="multipart/form-data" method="POST">
                      {% csrf_token %}
                      {{form.as_p}}
                      <input type="hidden" value="1" name="songup">
                      <input type="submit" value="Upload Song">
                  </form>
                </div>
                <br><br><br>
                <div class="row">
                    <h4 style="margin-bottom:30px">Add Playlist</h4>

                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">View Songs</button>
                <div id="demo1" class="collapse">

        {% if songs_list %}
        <div class='card-columns'>
        {% for song in songs_list %}
            <div class='card'>
                <div class='card-body'>
                    <h4 class='card-title'>
                        <audio controls>
                            <source src="{{song.songFile.url}}">
                        </audio>
                    </h4>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <p>No songs uploaded</p>
        {% endif %}
        </div>
            </div>
        </div>

    </body>
</html>