<!DOCTYPE html>
<html>
<head>
		<title>{{logged_in_user_username}}</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% load static %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		border-radius:50%;
		margin:10px 15px;
	}
	.col-md-2{
		background-color:white;
		border-radius: 10px;
		margin-left:50px;
		transform: translate(10%,0%);
		align-content: center;
	}
	.col-md-7{
		background-color: white;
		padding:20px;
		border-radius:10px;
	}
</style>
</head>
<body style="background-color:rgb(240,245,255)">
<div class="container-fluid" style="padding:0px;">
			<div style="background-color: rgb(50,50,50); transform:translate(0%,-35%)">
				<hr>
			<!--<div class="dropdown pull-right" style="transform: translate(-10%,-20%);">
				<button class="btn dropdown-toggle pull-right" type="button" data-toggle="dropdown"><span style="padding-right:5px" class="glyphicon glyphicon-cog"></span>Options
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
				  <li><a href="{% url 'core_app:dashboard' %}"><span class="glyphicon glyphicon-list"></span>      Dashboard</a></li>
				  <li><a>feature1</a></li>
				  <li><a>feature2</a></li>
				  <li class="divider"></li>
				  <li><a href="{% url 'login_module:logout' %}"><span class="glyphicon glyphicon-off"></span>    Log Out </a></li>
				</ul>
			</div>-->
			<!--<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal" style="transform: translate(-80%,-20%);"><span style="padding-right:5px" class="glyphicon glyphicon-envelope"></span>Notifications</button>-->
			<h4 style="color:rgb(240,240,240); transform: translate(2%,0%)">Welcome, {{user}}</h4>
			<hr>
			</div>
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
				
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Friend Requests</h4>
					</div>
					<div class="modal-body">
					<p>Hi friaaaannds, aaap kaise ho? sab changa h na fraand? </p>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
					</div>
				</div>
				
				</div>
			</div>

	<div class="row">
		<div class="col-md-2" style="padding-left:10px; padding-right:10px;">
			<hr>
			<h3 style="text-align: left; margin-left:20px;">Account Settings</h3><hr>
            {% if request.user.profile.profile_pic is not None %}
                <img class="profile-pic" src="{{request.user.profile.profile_pic.url}}" alt="no image has been uploaded :(">
			{% endif %}
			<h4 style="text-align:center">{{request.user.first_name}} {{user.last_name}}</h4>
		</div>
		<div class="col-md-7" style="margin-top:35px; transform:translate(10%,0%)">
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form2.as_p}}	
				<br>
				{{form1.as_p}}	
				<br>
			<input class="btn btn-primary" type="submit" name="Update Information">
            </form>
		</div>
		<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal" style="transform: translate(-120%,-258%);"><span style="padding-right:5px" class="glyphicon glyphicon-envelope"></span>Notifications</button>
		<div class="dropdown pull-right" style="transform: translate(95%,-258%);">
			<button class="btn dropdown-toggle pull-right" type="button" data-toggle="dropdown"><span style="padding-right:5px" class="glyphicon glyphicon-cog"></span>Options
			<span class="caret"></span></button>
			<ul class="dropdown-menu">
			  <li><a href="{% url 'core_app:dashboard' %}"><span class="glyphicon glyphicon-list"></span>      Dashboard</a></li>
			  <li><a>feature1</a></li>
			  <li><a>feature2</a></li>
			  <li class="divider"></li>
			  <li><a href="{% url 'login_module:logout' %}"><span class="glyphicon glyphicon-off"></span>    Log Out </a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>