<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <style>
        body{ color: rgb(240,240,240);font-family: 'Poppins', sans-serif;
    font-size: medium; float: center;}
    </style>
</head>
<body style="background-color:#021b2c ">
    <div style="background-color: rgb(2, 27, 44) !important" class="jumbotron text-center" id="createAccountHeader">
        <h1></h1>
        <!-- <p>subhead</p> --> 
    </div>
    {% if success %}
    <div class="container">    
    You have confirmed your account!
            <div class="col-md-6"><p class="redirect-text">Redirecting you to Login Page in just a sec...<p></p>
        </div>
        <script>
            function redirect(){
               window.location.href = "{% url 'login_module:login' %}";
            }
        
            setTimeout(redirect, 3000); //2000 is equivalent to 2 seconds
        </script>
    {% else %}
        Error, invalid token!
    {% endif %}
</body>
</html>