<!DOCTYPE html>
<html>
    <head>So you forgot your password. It's alright, we'll recover it in no time.</head>
    <body>
        <h3>Help us out a little bit.</h3>
        <form enctype="multipart/form-data" method="POST" autocomplete="on">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" name="Send Email">
        </form>
        <a href="{% url 'login_module:login' %}">Sign In</a>
        <a href="{% url 'login_module:register' %}">Create a New Account</a>
    </body>
</html>