<!DOCTYPE html>
<html>
    <head>
        <title> Rhidam </title>
        {% load static %}
        <link rel='stylesheet' href='{% static "style.css" %}'>
    </head>
    <body>
        <div id="body-data">
                        <!-- <h3 id="form-title">Login to Rhidam</h3> --> 
                    <div class='login-page-data'>
                        <form method="POST" action="">
                            {% csrf_token %}

                            <div class='form-input'>
                                <input type="text" name="username" placeholder="Username" class="form-control">
                            </div>
                            <div class='form-input'>
                                <input type="password" name="password" placeholder="Password" class="form-control" >
                            </div>
                            <div>
                                <input class="btn btn-default" type="submit" value="Login" id="login_button">
                            </div>
                        </form>
                    </div>
                    {% for message in messages %}
                        <p id="messages"> {{message}} </p>
                    {% endfor %}
                    <div class='login-page-data'>
                            Don't have an account? 
                            <a href="{% url 'login_module:register' %}" class="ml-2">Sign Up</a>
                    </div>
                    <div class='login-page-data'>
                            Having trouble logging in?
                            <a href="{% url 'reset_password' %}" class="ml-2">Forgot Password</a>
                    </div>
        </div>
    </body>
</html>
