<html>
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <div style="background-color: rgb(2, 27, 44) !important"  class="jumbotron text-center" id="createAccountHeader">
            <h2> So you forgot your password lol :p </h2>
            <p></p style="text-"> <i>Don't worry, we got you fam </i></p>
            {% load static %}
        <link rel='stylesheet' href='{% static "style1.css" %}'>
        </div>
    </head>
    <body style="background-color:#021b2c; color:rgb(240,240,240);">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
            </div>
                <div class="col-md-4">
                    <p class="text-white"> Enter your email address below, and we'll email you the password restoration link </p>
                    <br>
                    <form method = "POST">
                        {% csrf_token %}
                        {{form.as_p}}
                    <br>
                        <input style="width:20%;" class="btn btn-primary" type="submit" name="send email">
                    </form>
                    <br>
                    <p> Or if you remember your password, you can try to <a href="{% url 'login_module:login' %}" class="ml-2">login </a>again</p>
                </div>
            </div>
        </div>
    </body>
</html>